<header class="site-header">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="/img/devmine-logo.png">&nbsp;DevMine</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a href="/project/">Project</a>
          </li>
          <li>
            <a href="/downloads/">Downloads</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation<strong class="caret"></strong></a>
            <ul class="dropdown-menu">
              <li>
                <a href="/doc/devmine/">Devmine</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="/doc/crawld">Crawld</a>
              </li>
              <li>
                <a href="/doc/ght2dm">Ght2dm</a>
              </li>
              <li>
                <a href="/doc/srctool/">Srctool</a>
              </li>
              <li>
                <a href="/doc/repotool/">Repotool</a>
              </li>
              <li>
                <a href="/doc/srcanlzr/">Srcanlzr</a>
              </li>
              <li>
                <a href="/doc/featscomp/">Featscomp</a>
              </li>
              <li>
                <a href="/doc/api-server/">API-server</a>
              </li>
              <li>
                <a href="/doc/webapp/">Webapp</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/about/">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</style><span id="forkongithub"><a href="https://github.com/DevMine">Fork me on GitHub</a></span>
<!--  
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
  </div>
-->
</header>
