html,
body {
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 80px;
  background-color: #f5f5f5;
}

#wrap > .container {
  padding: 80px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
}
.navbar-brand {
    padding: 10px !important;
    font-size: 20px !important;
}

.navbar-brand > img {
    display: inline !important;
}

/* font-awesome icons with a link need to be black */
a i {
  color: black;
}

code {
  font-size: 80%;
}

#forkongithub {
  position: fixed;
  z-index: 1;
}
#forkongithub a {
    background: #337ab7;
    color: #fff;
    border-bottom-right-radius: 5px;
    text-decoration: none;
    font-family: arial,sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 5px 40px;
    font-size: 1.3rem;
    line-height: 2rem;
    position: relative;
    transition: 0.5s;
    top: 50px;
}
#forkongithub a:hover {
    background: #2b689c;
    color: #fff;
}
#forkongithub a::before, #forkongithub a::after {
    content: "";
    width: 100%;
    display: block;
    position: fixed;
    top: 1px;
    left: 0;
    height: 1px;
    background: #fff;
}
#forkongithub a::after {
    bottom: 1px;
    top: auto;
}
@media screen and (min-width:1400px){
    #forkongithub {
        position: fixed;
        display: block;
        top: 0;
        right: 0;
        width: 200px;
        overflow: hidden;
        height: 200px;
        z-index: 9999;
    }
    #forkongithub a {
        width: 200px;
        position: fixed;
        top: 40px;
        right: -40px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        box-shadow: 4px 4px 10px rgba(0,0,0,0.8);
    }
}

/* Custom css classes */
.dm-grey {
  color: #666666 !important;
}

.dm-table {
  border-collapse:separate;
  border-spacing:1em;
}

.dm-gh-avatar {
  max-width: 80px !important;
  border-radius: 500px !important;
}

.dm-gh-media {
  margin-top: 20px !important;
}
