.navbar-brand {
    padding: 10px !important;
    font-size: 20px !important;
}

.navbar-brand > img {
    display: inline !important;
}

.devmine-margin {
    margin-top: 70px;
}

.devmine-table {
    border-collapse:separate; 
    border-spacing:1em;
}

.gh-avatar {
    max-width: 100px;
    border-radius: 500px;
}

.gh-media {
    margin-top: 20px;
}
