.devmine-margin {
    margin-top: 70px;
}

.devmine-table {
    border-collapse:separate; 
    border-spacing:1em;
}

.gh-avatar {
    max-width: 100px;
    border-radius: 500px;
}

.gh-media {
    margin-top: 20px;
}
